

<h1>SEARCH FOR YOUR FAVORITE GITHUB USER TODAY!</h1>

<img class="image"   src="/assets/background.jpg" alt="">


<p> Git search is an online Web site where you can search for a particular github user and find their repositories and view their work on github</p>



<h3>What are APIs</h3>
<img src="/assets/40ca78a7a9db7adfb6bb861fc6b8910ae2ef4bb79f5508007d166f01df5c1038.png">
<p>API stands for Application Program Interfaces, which developers use to access web tools or information on the cloud. It allows different cross-platform applications to talk to each other. One of the common examples of it is Google Speech to Text API used when you talk to Google Assistant.</p>

<h3>What is Github APIs</h3>
<p>Github APIs( or Github ReST APIs) are the APIs that you can use to interact with GitHub. They allow you to create and manage repositories, branches, issues, pull requests, and many more. For fetching publicly available information (like public repositories, user profiles, etc.), you can call the API. For other actions, you need to provide an authenticated token.</p>

  
<h3>SEARCH FOR A GITHUB USER BELOW!!</h3>


<div class="input-group input-group-lg">
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    <button ngbButton class="btn btn-outline-secondary" (click)="findUser()" type="button">Search</button>
  </div>
